<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer_club.name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>

<p>
	<strong>Members:</strong>
	<ul>
		<% @members.each do |member| %>
			<li><%= link_to member.username, member %></li>
		<% end %>
	</ul>
</p>

<% if current_user %>
	<% unless current_user.is_member_of(@beer_club) %>
		<%= form_for(@membership) do |f| %>
			<%= f.hidden_field :beer_club_id %>
			<%= f.submit value:'Join the club', class:'btn btn-primary' %>
		<% end %>
	<% end %>
<% end %>

<p><%= edit_and_destroy_buttons(@beer_club) %></p>